// ------------------------------------------
// User Interface Elements
// ------------------------------------------

.logo {
	width: 55px;
	height: 53px;
	display: block;
	margin-top: 5px;
	text-indent: -99999px;
	background-size: 55px 53px;
	background-repeat: no-repeat;
	background-position: top left;
	background-image: url('/static/images/logo.png');

	text-indent: 0;
	font-size: 24px;
	padding-top: 12px;
	font-weight: 800;
	line-height: 24px;
	padding-left: 69px;
	color: $color--headings;
}

.button {
	font-size: 16px;
	line-height: 16px;
	padding: 16px 32px;
	border-radius: 8px;
	display: inline-block;
	transition: background-color .5s $transition--hover;

	@media (max-width: $width--breakpoint) {
		width: 100%;
		text-align: center;
	}

	&-primary {
		color: $color--background;
		background-color: $color--links;

		&:hover {
			color: $color--background;
			background-color: $color--links-hover;
		}

		&:active {
			color: $color--background;
			background-color: $color--links-active;
		}
	}

	&-secondary {
		color: $color--body;
		background-color: lighten($color--background, 10%);

		&:hover {
			color: $color--body;
			background-color: lighten($color--background, 15%);
		}

		&:active {
			color: $color--body;
			background-color: lighten($color--background, 5%);
		}
	}

}

.input {
	font-size: 16px;
	line-height: 16px;
	padding: 16px;
	border-radius: 4px;
	display: block;
	transition: background-color .5s $transition--hover;
	border: 0px solid;
	margin-top: 16px;
	margin-bottom: 32px;
	width: 100%;
	font-display: swap;
	font-family: 'PlexSans-Web';
	src: url('/static/fonts/IBMPlexSans-Regular.ttf') format('truetype');
	
	color: $color--body;
	background-color: lighten($color--background, 10%);
	outline: None;

	&:focus {
		color: $color--background;
		background-color: #FFFFFF;
	}

}

.textarea {
	font-size: 16px;
	line-height: 16px;
	padding: 16px;
	border-radius: 4px;
	display: block;
	transition: background-color .5s $transition--hover;
	border: 0px solid;
	margin-top: 16px;
	margin-bottom: 32px;
	height: 160px;
	width: 100%;
	text-align:top;
	font-display: swap;
	font-family: 'PlexSans-Web';
	src: url('/static/fonts/IBMPlexSans-Regular.ttf') format('truetype');
	
	color: $color--body;
	background-color: lighten($color--background, 10%);
	outline: None;

	&:focus {
		color: $color--background;
		background-color: #FFFFFF;
	}

}