// ------------------------------------------
// Home (home.html)
// ------------------------------------------


.home {

	.buttons {
		margin-top: 32px;

		.button {
			margin-bottom: 16px;

			@media (min-width: $width--breakpoint) {
				margin-right: 16px;

				&:last-child {
					margin-right: 0;
				}
			}

		}
	}

	.banner {
		figure {
			background-color: rgba(255,255,255,0.1);
			width: 100%;
			padding-top: 55%;
		}

		@media (min-width: $width--breakpoint) {
			text-align: center;

			h1 {
				font-size: 48px;
				line-height: 1.25;
				margin-bottom: 32px;
			}

			p { 
				max-width: 768px;
				margin: 0 auto;
			}
		}
	}

	.info {
		margin-top: 128px;

		figure {
			background-color: rgba(255,255,255,0.1);
			width: 100%;
			padding-top: 55%;
		}

		.meta {
			margin-bottom: 16px;
		}

		@media (min-width: $width--breakpoint) {
			display: flex;
			align-items: center;

			& > * {
				max-width: 468px;
			}

			figure {
				padding-top: 33%;
				margin-right: 64px;
			}

			&-alt {
				flex-direction: row-reverse;

				figure {
					margin-right: 0;
					margin-left: 64px;
				}
			}
		}
	}

	.prompt {
		margin-top: 128px;
		padding-top: 32px;
		margin-bottom: -32px;
		border-top: 1px solid lighten($color--background, 5%);

		@media (min-width: $width--breakpoint) {
			text-align: center;

			p {
				max-width: 768px;
				margin: 0 auto;
			}
		}
	}

}